body{
    margin: 5;
    margin-left: 30;
    background: orange;
}

h1 {
    font-size: 40px;
    font-family: "Monaco", monospace;  
    text-align: center;
  }

  h2{
    font-size: 30px;
    font-family: "Monaco", monospace;  
    text-align: center;

  }

  p{
    font-size: 25px;
    font-family: "Monaco", monospace;  
    text-align: left;

  }


  .container {
    display: flex;
    align-items: center;
  }
  
  img {
    width: 350px;
    height: 200px;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    font-family: "Monaco", monospace;  
  }